.banner{
    position: absolute;
    width: 1400px;;
    height: 900px;
    left: 0px;
    right:0px;
    top: 0px;
    bottom: 0px;
    background-image: url(../Assignment--1-repo/images/banner/banner1.png);
    background-repeat: no-repeat;
}
.first-div{
    justify-content:space-between ;
    margin: 300px 100px 300px 900px;

}
.first-headlin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:right;
    font-weight: 700;
    font-size: 45px;

}
.first-paragraph{
    text-align:right ;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}
.first-button{
    text-align: right;
    height: 64px;
    background:  rgb(255, 145, 0);
    box-shadow: #757575f1;
    box-shadow: 2px 0px 7px;
    border-radius: 5px;  
    font-weight: 700;
    font-size: 20px;
    border: 0;
    line-height: 20px;
    padding: 18px 40px 19px 36px;
    margin: 0px 10px 0px 250px;

}
.first-section{
    text-align: right;
    margin-top: 900px;
    background-image: url(../Assignment--1-repo/images/person.png);
    background-repeat: no-repeat;
    width: 1400px;
    height: 900px; 
    left: 400px;
    top: 0px;
    bottom: 0px;
}
.first-section-headlin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-weight: 600;
    font-size: 25px;
    margin: 400px 0px 0px 800px;
    padding: 300px 0 10px 0;
   
}
.first-section-paragraph{
    text-align: left;
    margin: 0px 500px 0px 250px;
    margin: 0px 0px 0px 800px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.first-ul{
    text-align: left;
    margin: 0px 500px 0px 250px;
    margin: 0px 0px 0px 800px;
    padding: 10px 0 10px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
  
.section-headlin{
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     
    font-weight: 700;
    font-size: 35px;
    
}
.icon-section{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 30px 50px 30px 50px ;
    font-family: Verdana, Geneva, 
    Tahoma, sans-serif;
    font-weight: 700;
    font-size: 15px;
    
}
.greadian{
    background-image: url(../Assignment--1repo/images/gradient2.png),
    url(../Assignment--1-repo/images/watch.png);
    background-repeat: no-repeat;
    width: 1000px;
    margin: 50px  200px 50px 200px;
    height: 300px;
    border-radius: 10px;
}
.greadian-h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-weight: 600;
    font-size: 25px;
    padding: 50px 0 0 50px;


}
.readian-button{
    text-align: right;
    height: 64px;
    background:  orangered;
    box-shadow: #757575f1;
    box-shadow: 2px 0px 7px;
    border-radius: 5px;  
    font-weight: 700;
    font-size: 20px;
    border: 0;
    line-height: 20px;
    padding: 18px 40px 19px 36px;
    margin: 0px 10px 0px 50px;

}
.fast-footer{
    background-color: black;
}
.main-div{
    width: 1050px;
    color: honeydew;
    display:flex;
    justify-content: space-between;
    height: 400px;
    margin: 10px 0 10px 100px;
    /* padding: ; */

     
}
.footer-paragraph{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-button{
    text-align:right;
    height: 44px;
    background: honeydew;
    box-shadow: #757575f1;
    box-shadow: 2px 0px 7px;
    border-radius: 5px;  
    font-weight: 700;
    font-size: 20px;
    border: 0;
    line-height: 5px;
}
.foint-coler{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orangered;
   
}
.footer-h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#one{
    margin: 10px 0 10px 0;
    background-color: black;
  
}